IS_DEBUG=True #Set to True for development and False for production#
APP_PORT=5001
SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx #YOUR SECRET KEY 

#postgres db
DATABASE_URL='postgresql://postgres.xxxxxxxxxxxxxxxx:xxxxxxxxxx@aws-0-us-east-1.pooler.supabase.com:5432/postgres'

#paystack
PAYSTACK_SECRET_KEY=sk_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxx