{% extends 'base.html' %}

{% block content %}
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
 
<div class="container-fluid card table-responsive bg-dark">
    <form id="filter-frm" method="GET" class="row">
        <div class="col-3">
            <select onchange="applyFilter()" name="bill_status" id="bill_status" style="width: 100%;">
                <option value="0">All Bills</option>
                <option {% if bill_status==1 %} selected {% endif %} value="1">Paid Bills
                </option>
                <option {% if bill_status==2 %} selected {% endif %} value="2">Not Paid
                </option>
            </select>
        </div>
        <div class="col-3">
            <select class="text-center" onchange="applyFilter()" name="customer_id" id="customer_id" style="width: 100%;">
                <option value="0">All Customers</option>
                {% for customer in customers %}
                <option value="{{ customer.id }}" {{ 'selected' if customer_id==customer.id else '' }}>{{ customer.name
                    }} - {{ customer.phone }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-3">
            <a href="#" class="btn btn-xs btn-primary btn-flat text-center" style="width: 100%" data-toggle="modal"
                data-target="#newCustomerModal" onclick="addNewCustomer()">New Customer</a>
        </div>
        <div class="col-3">
            <a href="#" class="btn btn-xs btn-warning btn-flat text-center" style="width: 100%" data-toggle="modal"
                data-target="#newBillModal">New Bill</a>
        </div>
    </form><br />
    <table class="table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-center" rowspan="2" style="font-size: x-small;">DATE</th>
                <th class="text-center" rowspan="2" style="font-size: x-small;">CUSTOMER</th>
                <th class="text-center" rowspan="2" style="font-size: x-small;">SOLD BY</th>
                <th class="text-center" rowspan="2" style="font-size: x-small;">AMOUNT</th>
                <th class="text-center" colspan="2" style="font-size: x-small;">PAID</th>
                <th class="text-center" rowspan="2" style="font-size: x-small;">BAL</th>
                <th class="text-center" rowspan="2" style="font-size: x-small;">ACTION</th>
            </tr>
            <tr>
                <th class="text-center" style="font-size: x-small;">CASH</th>
                <th class="text-center" style="font-size: x-small;">MPESA</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in bills %}
            <tr>
                <td class="text-center">{{ bill.created_at }}</td>
                <td>
                    {% if bill.customer %}
                    {{ bill.customer.name }}
                    {% else %}
                    <a href="#" data-toggle="modal" data-target="#newBillModal"
                        onclick="assignCustomerBill({{ bill.id }}, {{ bill.total }})">Assign Customer</a>
                    {% endif %}
                </td>
                <td>{{ bill.user.name }} </td>
                <td class="text-right">{{ helper.format_number_with_commas(helper.format_number(bill.total)) }}</td>
                <td class="text-right text-warning">{{ helper.format_number_with_commas(helper.format_number(bill.cash))
                    }}</td>
                <td class="text-right text-success">{{
                    helper.format_number_with_commas(helper.format_number(bill.mpesa)) }}</td>
                <td class="text-right text-danger">{{
                    helper.format_number_with_commas(helper.format_number(bill.total-bill.paid)) if bill.total >
                    bill.paid else '' }}</td>
                <td class="text-center">
                    {% if bill.total > bill.paid %}
                    <a href="#" onclick="updateBillAmount({{ bill.id }},{{ helper.format_number(bill.total-bill.paid) }});" data-toggle="modal" data-target="#newModal">
                        <i class="mdi mdi-cash-multiple" title="Pay this Bill" style="color: limegreen;">Pay</i>
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th class="text-center" colspan="3"><b><u>TOTAL DEBTS</u></b></th>
                <th class="text-right"><b><u>{{ helper.format_number_with_commas(helper.format_number(grand_total))
                            }}</u></b></th>
                <th class="text-right text-warning"><b><u>{{
                            helper.format_number_with_commas(helper.format_number(cash_total)) }}</u></b></th>
                <th class="text-right text-success"><b><u>{{
                            helper.format_number_with_commas(helper.format_number(mpesa_total)) }}</u></b></th>
                <th class="text-right text-danger"><b><u>{{
                            helper.format_number_with_commas(helper.format_number(grand_total - grand_paid)) }}</u></b>
                </th>
                <th class="text-center">
                    {% if (grand_total - grand_paid) > 0 and customer_id>0 %}                    
                    <a href="#" onclick="updateBillAmount(0,{{ helper.format_number(grand_total - grand_paid) }});" data-toggle="modal" data-target="#newModal">
                        <i class="mdi mdi-cash-multiple" title="Pay Multiple Bills">Pay Multiple Bills</i>
                    </a>
                    {% endif %}
                </th>
            </tr>
        </tfoot>
    </table>
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->

<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" class="form-horizontal">
                <input type="hidden" id="category_id_new" name="category_id_new" />
                <div class="modal-header text-center">
                    <h5 class="text-center">Receive Customer Bill Payment</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <h5 class="text-center">Unpaid Bill Amount: <b id="bill_amount"></b></h5>
                        <label class="col-6 text-end control-label col-form-label">Select Payment Mode:</label>
                        <div class="col-6">
                            <select name="payment_mode_id" id="payment_mode_id" class="form-control input-xs"> 
                                {% for payment_mode in payment_modes %}
                                <option value="{{ payment_mode.id }}">{{ payment_mode.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-6 text-end control-label col-form-label">Amount Paid:</label>
                        <div class="col-6">
                            <input type="hidden" name="bill_id" id="bill_id" />
                            <input type="number" name="amount_paid" id="amount_paid" min="0" required
                                class="form-control input-sm" placeholder="Enter Amount Paid" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-5 text-end control-label col-form-label">Date Paid:</label>
                        <div class="col-7">
                            <input required="required" type="date" name="date" id="date_paid" class="form-control input-sm"
                                value="{{ current_date }}" max="{{ current_date }}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" id="submit_payment" name="action" value="submit_payment"
                        class="btn btn-success">Receive Payment</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="newBillModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" class="form-horizontal">
                <input type="hidden" id="assign_customer_bill_id" name="bill_id" value="0" />
                <div class="modal-header text-center">
                    <h5 class="text-center">Assign Customer Bill</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">  
                    <div class="form-group row">
                        <label class="col-5 text-end control-label col-form-label">Bill Date:</label>
                        <div class="col-7">
                            <input required="required" type="date" name="bill_date" id="bill_date" class="form-control input-sm"
                                value="{{ current_date }}" max="{{ current_date }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-5 text-end control-label col-form-label">Amount:</label>
                        <div class="col-7">
                            <input type="number" name="bill_amount" id="assign_bill_amount" min="0" required
                                class="form-control input-sm" placeholder="Enter Bill Amount" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-5 text-end control-label col-form-label">Select Customer:</label>
                        <div class="col-7">
                            <select name="customer_id" id="assign_customer_id" class="form-control input-xs" required> 
                                {% for customer in customers %}
                                <option value="{{ customer.id }}">{{ customer.name }} - {{ customer.phone }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>                  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" id="assign_customer_bill" name="action" value="assign_customer_bill"
                        class="btn btn-success">Assign Selected Customer this Bill</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="newCustomerModal" tabindex="-1" role="dialog" aria-labelledby="newCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" class="form-horizontal">
                <input type="hidden" id="edit_customer_id" name="id" />
                <div class="modal-header text-center">
                    <h5 class="text-center"><span id="customer_header"></span> Customer</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-3 text-end control-label col-form-label">Name:</label>
                        <div class="col-9">
                            <input required="required" type="text" name="name" id="customer_name" class="form-control input-sm"
                                placeholder="Enter Customer Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 text-end control-label col-form-label">Phone:</label>
                        <div class="col-9">
                            <input id="customer_phone" name="phone" type="number" class="form-control input-sm"
                                placeholder="Enter Customer Phone" required min="100000000" max="799999999" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" id="add_new_customer" name="action" value="add_new_customer" class="btn btn-success">Save
                            Customer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function applyFilter() {
        $("#filter-frm").submit();
    }

    function updateBillAmount(bill_id, balance) {
        $('#bill_amount').html(balance.toLocaleString());
        $('#bill_id').val(bill_id);
        document.getElementById("amount_paid").max = balance;
    }

    function editBill(id) {
        $('#editable_bill_id').val(id);
    }

    function assignCustomerBill(id, amount) {
        $('#assign_customer_bill_id').val(id);
        $('#assign_bill_amount').val(amount);        
    }

    function addNewCustomer(){
        $("#customer_header").html('Add New');
        $("#edit_customer_id").val('');
        $("#customer_name").val('');
        $("#customer_phone").val('');
        $("#action").val('add');
    }

</script>

{% endblock %}