{% extends 'base.html' %}

{% block content %}
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
 <style>
    div {
        color: white
    }    
 </style>

<div class="container-fluid table-responsive">
    <div class="pt-3 pb-3">
        <div class="col-12 text-center">
            Scan the QR code to launch the download page on your Target Android device, and then download and install the APK.
        </div>
    </div>

    <div class="pt-3 pb-3">
        <div class="col-12 text-center">
            <img src="{{ url_for('static', filename='images/qr.png') }}" alt="homepage" class="light-logo" />
        </div>
    </div>

    <div class="pt-3 pb-3">        
        <h6 class="text-center">Installation Guide For Android</h6>
        <ol>
            <li>Open the settings on your phone</li>
            <li>Click on “Security”</li>
            <li>Scroll to “Unknown sources” and select it</li>
            <li>Tap on “OK” to confirm your alteration</li>
        </ol>
    </div>

</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
{% endblock %}