{% extends 'base.html' %}

{% block content %}
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid table-responsive bg-dark">
    <div class="row">
        <style>
            table,
            tr,
            th,
            td {
                color: inherit;
            }
        </style>
        <div class="col-12">
            <div class="alert alert-{{ package.color }}" role="alert">
                <h4 class="alert-heading text-center">Your Current License Details</h4>
                <table class="table-bordered table-condensed">
                    <tbody>
                        <tr>
                            <th>COMPANY NAME:</th>
                            <td>{{ current_user.company.name }}</td>
                        </tr>
                        <tr>
                            <th>CURRENT SHOP:</th>
                            <td>{{ current_user.shop.name }}</td>
                        </tr>
                        <tr>
                            <th>LICENSE KEY:</th>
                            <td>{{ (current_user.license.key[:4] ~ '************' ~ current_user.license.key[-4:]).upper() }}</td>
                        </tr>
                        <tr>
                            <th>PACKAGE:</th>
                            <td>
                                {{ package.name }}
                            </td>
                        </tr>
                        <tr>
                            <th>DESCRIPTION:</th>
                            <td>
                                {{ package.description }}
                            </td>
                        </tr>
                        <tr>
                            <th>AMOUNT PAID:</th>
                            <td>
                                {{ helper.format_number_with_commas(package.pay) }}
                            </td>
                        </tr>
                        <tr>
                            <th>EXPIRES ON:</th>
                            <td>{{ current_user.license.expires_at }}</td>
                        </tr>
                        <tr>
                            <th>VALIDITY:</th>
                            <td style="color: {{ package.color if current_user.license.validity > 3 else 'red' }}">
                                {{ current_user.license.validity }} DAYS
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h3 class="col-12 text-center text-white">Our Packages <small>(Tap/Click to Buy)</small></h3>
    <div class="row">
        {% for pkg in packages %}
        {% if pkg.amount > 0 %}
        <a class="col-6" href="#" onclick="popup({{ pkg.pay }}, '{{ helper.format_number_with_commas(pkg.pay/2) }}', '{{ pkg.description }}')" data-toggle="modal" data-target="#newModal">
            <div class="alert alert-{{ pkg.color }}" role="alert" >
                <h4 class="alert-heading">{{ pkg.name }}</h4>
                <p>{{ pkg.description }}</p>
                <hr />
                <p class="mb-0">
                    Ksh.
                    {% if pkg.amount > pkg.pay %}
                        <s>{{ helper.format_number_with_commas(pkg.amount) }}</s>
                    {% endif %}
                    {{ helper.format_number_with_commas(pkg.pay) }}
                </p>
                <hr />
                <p class="mb-0">{{ pkg.offer }}</p>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>

<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" class="form-horizontal">
                <input type="hidden" id="amount" name="amount" />
                <div class="modal-header text-center">
                    <h5 class="text-center">To Get <code class="text-xs" style="color: black;" id="package_desc"></code> License</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">                    
                    <ol>
                        <!-- <li>Enter your MPESA Phone below.</li>
                        <li>Tap/Click Pay Button</li>
                        <li>You will receive MPESA STK Push prompt.</li>
                        <li>Enter your MPESA pin to Confirm Payment.</li>
                        <li>Once you receive MPESA confirmation message, Your license will be automatically renewed.</li> -->
                        <li>Go to MPESA</li>
                        <li>Choose Send Money</li>
                        <li>Enter the Phonenumber: <code class="text-xs" style="color: black;" id="phone_number">0105565532</code></li>
                        <li>Enter the Package Amount</li>
                        <li>Enter your MPESA pin to Confirm Payment.</li>
                        <li>Once you receive MPESA confirmation message, Your license will be automatically renewed.</li>
                        <li>For any issues, please contact us via <a href="https://wa.me/254105565532" target="_blank">WhatsApp - 0105565532</a></li>
                        <li>Thank you for choosing us!</li>
                    </ol>
                    <!-- <div class="form-group row">
                        <div class="col-sm-12">
                            <input name="phone" id="phone" type="number" class="form-control input-sm text-center success" style="font-weight: bolder; color: black; border-color: green; "
                                placeholder="Enter MPESA Phone No. here" required min="100000000" max="799999999" />
                        </div>
                    </div> -->
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" id="action" name="action" value="pay" data-dismiss="modal"
                        class="btn btn-success">Pay Ksh.<b id="pay_amount_"></b></button>
                </div> -->
            </form>
        </div>
    </div>
</div>
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->


<script>
    function popup(amount, formatted_amount, package_desc) {
        $('#amount').val(amount);
        $('#pay_amount').html(formatted_amount);
        $('#package_desc').html(package_desc);
    }
</script>

{% endblock %}
