{% extends 'base.html' %}

{% block content %}
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid table-responsive bg-dark">
    <form id="filter-frm" method="GET" class="row">
        <div class="col-6">
            <a href="#" class="btn btn-xs btn-success btn-flat text-white" style="font-weight: bold;" onclick="addNewProduct()"
                    data-toggle="modal" data-target="#newModal">ADD NEW PRODUCT</a>
        </div>
        <div class="col-6">
            <select onchange="applyFilter()" name="category_id" id="category_id" style="width: 100%;">
                <option value="0">Filter by Category</option>
                {% for product_category in product_categories %}
                <option value="{{ product_category.id }}" {% if product_category.id == category_id %} selected {% endif %}>{{ product_category.name }}</option>
                {% endfor %}
            </select>
        </div>
    </form><br />
    <table class="table-bordered table-striped"> 
        <style>
            th, td {
                font-size: x-small;
            }
        </style>      
        <thead>
           <tr>
               <th rowspan="2" class="text-center">PRODUCT</th>
               <th rowspan="2" class="text-center">CATEGORY</th>
               <th colspan="2" class="text-center">YESTERDAY</th>               
               <th colspan="3" class="text-center">TODAY</th>
           </tr>
           <tr>
            <th class="text-center">TOTAL</th>
            <th class="text-center">SOLD</th>
            <th class="text-center">OPENING</th>
            <th class="text-center">PURCHASES</th>
            <th class="text-center">TOTAL</th>
           </tr>
       </thead>
        <tbody>
            {% for stock in stocks %}
            {% set sold = stock.yesterday_opening+stock.yesterday_additions-stock.opening %}
            <style>
                input {
                    width: 100%;
                }
            </style>
            <tr>                 
                <td id="name_{{ stock.id }}">{{ stock.name }}</td> 
                <td id="category_{{ stock.id }}">{{ stock.category_name }}</td> 
                <td class="text-center" id="yesterday_{{ stock.id }}">{{ helper.format_number_with_commas(stock.yesterday_opening+stock.yesterday_additions) }}</td> 
                <td class="text-center" id="sold_{{ stock.id }}">{{ helper.format_number_with_commas(sold) if sold>=0 else '' }}</td> 
                <td class="text-center">
                    <input 
                        type="hidden" 
                        id="opening_old_{{ stock.id }}" 
                        name="opening_old_{{ stock.id }}" 
                        value="{{ helper.format_number(stock.opening) }}" 
                        />
                    <input 
                        type="number" 
                        id="opening_{{ stock.id }}" 
                        name="opening_{{ stock.id }}" 
                        value="{{ helper.format_number(stock.opening) }}" 
                        onchange="updateTotal({{ stock.id }});"
                        min="0"
                        />
                </td>                                         
                <td class="text-center">
                    <input 
                        type="number" 
                        id="additions_{{ stock.id }}" 
                        name="additions_{{ stock.id }}" 
                        value="{{ helper.format_number(stock.additions) }}" 
                        onchange="updateTotal({{ stock.id }});"
                        min="0"
                        {% if current_user.user_level.id == 3 %} disabled {% endif %}
                        />
                </td>
                <td class="text-center" id="total_{{ stock.id }}">{{ helper.format_number_with_commas(stock.opening + stock.additions) }}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" class="form-horizontal">
                <input type="hidden" id="edit_id" name="id" />
                <input type="hidden" id="edit_product_id" name="product_id" />
                <div class="modal-header text-center">
                    <h5 class="text-center"><span id="product_header"></span> Product</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-5 text-end control-label col-form-label">Product Name:</label>
                        <div class="col-7">
                            <input required="required" type="text" name="name" id="edit_product_name" class="form-control input-sm"
                                placeholder="Enter Product Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-5 text-end control-label col-form-label">Select Category:</label>
                        <div class="col-7">
                            <select class="form-control input-sm" name="category_id_new" id="edit_category_name" required>
                                {% for product_category in product_categories %}
                                <option value="{{ product_category.id }}" {{ 'selected' if product_category.id==category_id }}>{{ product_category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-5 text-end control-label col-form-label">Buying Price:</label>
                        <div class="col-7">
                            <input required="required" type="number" name="purchase_price" id="edit_purchase_price"
                                class="form-control input-sm" placeholder="Enter Buying Price">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-5 text-end control-label col-form-label">Selling Price:</label>
                        <div class="col-7">
                            <input required="required" type="number" name="selling_price" id="edit_selling_price"
                                class="form-control input-sm" placeholder="Enter Selling Price">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-5 text-end control-label col-form-label">Items in Stock:</label>
                        <div class="col-7">
                            <input required="required" type="number" name="in_stock" id="edit_in_stock"
                                class="form-control input-sm" placeholder="Enter Items in Stock">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" id="action" name="action" value="add" class="btn btn-success">Save
                        Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->

<script>
    $(document).ready(function () {
        $("#search").focus(function () {
            if (this.setSelectionRange)
            {
                var len = $(this).val().length;
                this.setSelectionRange(len, len);
            } else
            {
                $(this).val($(this).val());
            }

        });
        $("#search").focus();
    });
    function applyFilter() {
        $("#filter-frm").submit();
    }

    function addNewProduct(){
        $("#product_header").html('Add New');
        $("#edit_product_name").val('');
        $("#edit_purchase_price").val('');
        $("#edit_selling_price").val('');
        $("#edit_in_stock").val('');
        $("#action").val('add');
    }

    function updateTotal(id) {
        let name = $("#name_" + id).html();
        let yesterday = parseFloat($("#yesterday_" + id).html());
        let opening_old = parseFloat($("#opening_old_" + id).val());
        let opening = parseFloat($("#opening_" + id).val());
        let additions = parseFloat($("#additions_" + id).val());
        if (opening > yesterday) {
            toastr.error("Opening stock cannot be more than yesterday's closing stock.\nAdded Stock has been set as purchases");
            additions = opening - opening_old + additions;
            $("#additions_" + id).val(additions);
            opening = opening_old;
            $("#opening_" + id).val(opening_old);
        }
        let total = opening + additions;
        $.ajax({
            type: 'post',
            url: '{{ url_for('stockTakeUpdate') }}',
            data: {
                id: id,
                opening: opening,
                additions: additions,
                action: 'update'
            },
            success: function (data) {
                toastr.success("Updated " + name);
                $("#opening_old_" + id).html(opening);
                $("#total_" + id).html(total);
                $("#sold_" + id).html(yesterday-opening);
            }
        });
    }
</script>

{% endblock %}